<html>
<head>
  <link rel="stylesheet" type="text/css" href="index.css">
</head>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.6/angular.min.js"></script>
<script src="bower_components/appbase-js/browser/appbase.js"></script>
<script src="bower_components/elasticsearch/elasticsearch.angular.js"></script>
<script src="index.js"></script>
<body  ng-app="myApp">

    <div ng-controller="controller">
    <table>
        <tr>
        <td width="20%">
        <input type="text" id="searchdata" placeholder="Search" ng-model="searchtext" ng-keyup="checktext()"/>
        <table ng-model="suggestions">
            <tr ng-repeat="x in suggestions">
              <td id="suggestdata" ng-show="row">{{ x.text }}</td>
            </tr>
        </table>
    </td>
    <td>
        <button id="button" ng-click="getData()">Search</button>
    </td>
</tr>
    </table>
    </div>

</body>
</html>