body,html {
  background: url(blue.jpg);
  background-size: cover;
  height: 100%;
}

div[ng-controller='MarkerRemoveCtrl'] {
  position: relative;
}

div[ng-controller='MarkerRemoveCtrl'] #panel {
  position: absolute;
  top: 40px;
  left: 50%;
  margin-left: -180px;
  z-index: 5;
  background-color: #fff;
  padding: 5px;
  border: 1px solid #999;
}

map{
  width: 111%;
  height: 90%;
  -webkit-box-shadow: -7px 13px 20px 3px rgba(0,0,0,0.6);
  -moz-box-shadow: -7px 13px 20px 3px rgba(0,0,0,0.6);
  box-shadow: -7px 13px 20px 3px rgba(0,0,0,0.6);
}

button {
  -webkit-box-shadow: -7px 13px 20px 3px rgba(0,0,0,0.4);
  -moz-box-shadow: -7px 13px 20px 3px rgba(0,0,0,0.4);
  box-shadow: -7px 13px 20px 3px rgba(0,0,0,0.4);
}

#cat-label {
  padding-top: 5px;
  font-family: sans-serif;
  font-size: 22px;
  width: 100%;
  background: rgba(232, 232, 232, 0.3);
  border-radius: 6px;
  border: solid 3px #ccc;
  height: 45px;
  text-align: center;
}

.form-control {
  -webkit-box-shadow: -7px 13px 20px 3px rgba(0,0,0,0.4);
  -moz-box-shadow: -7px 13px 20px 3px rgba(0,0,0,0.4);
  box-shadow: -7px 13px 20px 3px rgba(0,0,0,0.4);
}

.container-fluid{
  height: 100%;
}
.col-sm-8{
  height: 100%;
}

#mapcontainer {
  height: 100%;
  width: 111%;
}
#suggestdata {
  display: block;
  margin: 0;
  font-family: sans-serif;
  font-size: 22px;
  appearance: none;
  box-shadow: none;
  border-radius: none;
  background: rgba(240, 240, 240, 0.5);
  width: 100%;
  height: 40px;
}

#suggestdata:hover{
  background-color: rgba(216,216,216,0.9);
}

#custom-search-input{
    padding: 3px;
    border: solid 1px #E4E4E4;
    border-radius: 6px;
    background-color: #fff;
}

#custom-search-input input{
    border: 0;
    box-shadow: none;
}

#custom-search-input button{
    margin: 2px 0 0 0;
    background: none;
    box-shadow: none;
    border: 0;
    color: #666666;
    padding: 0 8px 0 10px;
    border-left: solid 1px #ccc;
}

#custom-search-input button:hover{
    border: 0;
    box-shadow: none;
    border-left: solid 1px #ccc;
}

#custom-search-input .glyphicon-search{
    font-size: 23px;
}

#scroll {
    height: 100%;
    overflow: hidden;
    overflow-y: auto;
    width: 100%;
    border-radius: 0px;
}

#catlist {
  font-family: sans-serif;
  font-size: 22px;
  height: 30px;
  width: 100%;
  background: rgba(232, 232, 232, 0.3);
}

#catlist:hover{
  background-color: rgba(216,216,216,0.9);
}

#scrollbox {
  width: 175%;
  border-radius: 0px;
}

#searchscroll{
  overflow: auto;
}
#row2{
  height: 100%;
}
#header{
  padding-top: -100px;
  height: 10%;
}
#map-container{
  border-radius: 25px;
  -moz-border-radius:15px;
  -webkit-mask-border-radius:15px;
  -webkit-border-radius:15px;
}
#catlist{
  font-size: 15px;
}
#freqbar{
  border-radius: 25px;
  -moz-border-radius:15px;
  -webkit-mask-border-radius:15px;
  text-align: center;
  -webkit-border-radius:15px;
  -webkit-box-shadow: -7px 13px 20px 3px rgba(0,0,0,0.6);
  -moz-box-shadow: -7px 13px 20px 3px rgba(0,0,0,0.6);
  box-shadow: -7px 13px 20px 3px rgba(0,0,0,0.6);
}
#freqlabel{
  padding-top: -10px;
  text-align: center;
  font-size: 25px;
  color: white;
  font-weight: bold;
}
#catlabel{
  width: 90%;
}
