body {
  background: url(wood-background-1.jpg);
}
#searchdata {
  display: block;
  margin: 0;
  width: 100%;
  font-family: sans-serif;
  font-size: 18px;
  appearance: none;
  box-shadow: none;
  border-radius: none;
}
#suggestdata {
  display: block;
  margin: 0;
  width: 25%;
  font-family: sans-serif;
  font-size: 18px;
  appearance: none;
  box-shadow: none;
  border-radius: none;
}
div[ng-controller='MarkerRemoveCtrl'] {
  position: relative;
}
div[ng-controller='MarkerRemoveCtrl'] #panel {
  position: absolute;
  top: 40px;
  left: 50%;
  margin-left: -180px;
  z-index: 5;
  background-color: #fff;
  padding: 5px;
  border: 1px solid #999;
}
map{
  width: 600px;
  height: 600px;
}
#suggestdata:hover{
  background-color: blue;
}
